# PORT SERVER BACKEND
PORT=5000

# POSTGRESQL DATABASE CONNECTION STRING (PASTE YOUR POSTGRESQL LINK HERE)
DATABASE_URL=postgresql://username:password@localhost:5432/medcare_db

# JWT SECRET KEY FOR AUTHENTICATION
JWT_SECRET=medcare_clinic_secret_jwt_key_2026_super_secure

# TWILIO / ESMS API CREDENTIALS FOR REAL SMS NOTIFICATIONS
SMS_PROVIDER=mock # mock | twilio | esms
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+1234567890

# RESEND / SMTP EMAIL CREDENTIALS FOR REAL EMAIL RECEIPTS
EMAIL_PROVIDER=mock # mock | resend | smtp
RESEND_API_KEY=re_123456789
